:root {
  --clr-light-red-CTA-text: hsl(356, 100%, 66%);
  --clr-very-light-red-CTA-hover-background: hsl(355, 100%, 74%);
  --clr-very-dark-blue-headings: hsl(208, 49%, 24%);

  --clr-white-text: hsl(0, 0%, 100%);
  --clr-grayish-blue-footer-text: hsl(240, 2%, 79%);
  --clr-very-dark-grayish-blue-body-copy: hsl(207, 13%, 34%);
  --clr-very-dark-black-blue-footer-background: hsl(240, 10%, 16%);

  --clr-mobile-linear-gradient-CTA: linear-gradient(
    120deg,
    hsl(13, 100%, 72%),
    hsl(353, 100%, 62%)
  );
  --clr-body-linear-gradient-blue: linear-gradient(
    120deg,
    hsl(237, 17%, 21%),
    hsl(237, 23%, 32%)
  );

  --ff-reg: "Overpass", sans-serif;
  --ff-accent: "Ubuntu", sans-serif;

  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  --br-lgr: 0 80px 0 80px;
}
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-reg);
  display: grid;
  place-items: center;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
.nav-desktop {
  display: none;
}
.nav-mobile {
  /* background-image: var(--clr-mobile-linear-gradient-CTA); 
 This was just overwritten by the below background-image so
 until I learn how to do this I will just use a background-color*/
  background-color: var(--clr-light-red-CTA-text);
  background-image: url(images/bg-pattern-intro-mobile.svg);
  background-repeat: no-repeat;
  background-size: 340%;
  background-position: 36% 35%;
  height: 550px;
  border-radius: 0 0 0 80px;
}
.nav-mobile .logo-line {
  display: flex;
  justify-content: space-between;
  padding: 3rem 1rem 2rem 1rem;
}
.hero-mobile {
  color: var(--clr-white-text);
  text-align: center;
  margin: 3rem 1rem;
  position: absolute;
  z-index: 2;
  top: 7rem;
  left: 0;
}
.hero-desktop {
  visibility: hidden;
}
.nav-mobile-logo {
  width: 22%;
}
h1 {
  font-size: 2.26rem;
}
h2 {
  text-align: center;
  margin-block: 5rem 3rem;
  font-size: 1.8rem;
  color: var(--clr-very-dark-blue-headings);
}
h3 {
  font-size: 1.8rem;
  color: var(--clr-very-dark-blue-headings);
  line-height: 1.1;
}
p {
  line-height: 1.7;
  font-size: 1rem;
}
.nav-mobile p {
  font-size: 1.3rem;
  margin-block: 0.8rem 2.5rem;
}
/*HOVER STATES*/
.mobile-dropdown:hover {
  font-weight: var(--fw-700);
}
.mobile-sub-menu-links a:hover {
  color: var(--clr-very-dark-black-blue-footer-background);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: var(--fw-700);
}
/*BUTTONS*/
button {
  padding: 1rem 1.2rem;
  border-radius: 60px;
  font-family: inherit;
  font-weight: var(--fw-700);
  cursor: pointer;
  font-size: 1.1rem;
}
.hero-btns {
  display: flex;
  justify-content: center;
  gap: 0.8rem;
}
.white-btn {
  color: var(--clr-light-red-CTA-text);
  border: none;
  background-color: var(--clr-white-text);
}
.white-btn:hover {
  background-color: var(--clr-light-red-CTA-text);
  color: var(--clr-white-text);
}

.transparent-border-btn {
  border: 1px solid var(--clr-white-text);
  background-color: transparent;
  color: var(--clr-white-text);
}
.transparent-border-btn:hover {
  background-color: var(--clr-white-text);
  color: var(--clr-light-red-CTA-text);
}
.transparent-btn {
  border: none;
  background-color: transparent;
  color: var(--clr-very-dark-blue-hheadings);
}
.dark-btn {
  background-color: var(--clr-light-red-CTA-text);
  border: none;
  color: var(--clr-white-text);
}
.menu-btns {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 2rem auto 0 auto;
}
/*NAV MOBILE*/
.mobile-menu {
  width: 90%;
  margin: 0 auto;
  background-color: var(--clr-white-text);
  text-align: center;
  padding-block: 1.2rem;
  box-shadow: 0 0 10px 8px rgba(100, 100, 100, 0.2);
  border-radius: 5px;
  display: none;
  position: relative;
}
.mobile-menu a {
  color: var(--clr-very-dark-blue-headings);
  font-weight: var(--fw-700);
  font-size: 1.2rem;
}
.mobile-menu .main-menu-links {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  cursor: pointer;
}
.mobile-menu .main-menu-links img {
  margin-left: 0.5rem;
}

/*MOBILE DROPDOWN MENUS*/

.mobile-dropdown-1,
.mobile-dropdown-2,
.mobile-dropdown-3 {
  position: relative;
}
.mobile-dropdown-1 {
  margin-top: 0.5rem;
}

.mobile-sub-menu-links {
  display: inline-flex !important; /*MUST use inline-flex because a links
  are inline elements*/
  flex-direction: column;
  position: absolute;
  background-color: var(--clr-grayish-blue-footer-text);
  opacity: 0.4;
  padding-block: 1rem;
  width: 90%;
  margin: 1rem auto;
  gap: 1rem;
  border-radius: 5px;
  visibility: hidden;
  top: 0;
  left: 0;
}

/*SECTIONS*/

.section-1-content {
  text-align: center;
  margin: 3rem 2.8rem 5rem 2.8rem;
}
.section-1-content p,
.section-3-content p {
  margin-block: 1.5rem 2.5rem;
  color: var(--clr-very-dark-grayish-blue-body-copy);
}
.section-2-desktop {
  display: none;
}
.section-2-mobile {
  background-color: var(--clr-very-dark-blue-headings);
  border-radius: var(--br-lgr);
  background-image: url(images/bg-pattern-circles.svg);
  background-repeat: no-repeat;
  background-size: 160%;
  background-position: 50% 3600%;
  position: relative;
  margin-top: 16rem;
}
.section-2-mobile img {
  position: absolute;
  top: -30%;
}

.section-2-mobile-content {
  padding: 10rem 2rem 6rem 2rem;
}
.section-2-mobile h2 {
  font-size: 2.3rem;
  line-height: 1.2;
  color: var(--clr-white-text);
  margin-block: 4rem 1.5rem;
}
.section-2-mobile p {
  color: var(--clr-white-text);
  text-align: center;
}
.section-3 {
  margin-block: 4rem;
  text-align: center;
}
.section-3-mobile-img {
  background-image: url(images/illustration-laptop-mobile.svg);
  background-repeat: no-repeat;
  background-size: 140%;
  background-position: 50% 10%;
  height: 400px;
}
.section-3-content {
  margin: 3rem 2.5rem 5rem 2.5rem;
}
.section-3 h3 {
  margin-bottom: 2rem;
}

/*FOOTER*/
.footer {
  background-color: var(--clr-very-dark-black-blue-footer-background);
  padding: 3rem;
  border-radius: 0 80px 0 0;
  text-align: center;
}
.footer-1-links,
.footer-2-links,
.footer-3-links {
  display: flex;
  flex-direction: column;
  color: var(--clr-white-text);
}
.footer a {
  color: var(--clr-white-text);
  line-height: 1.7;
}
.footer a:hover {
  font-size: 20px;
  color: var(--clr-very-light-red-CTA-hover-background);
}
.footer h4 {
  font-weight: var(--fw-700);
  margin-block: 2.5rem 1.5rem;
}
.show {
  display: block;
  position: relative;
  z-index: 4;
  visibility: visible; /*MUST have this for mobile.sub-menu-links*/
}
.show .arrow-down {
  transform: rotate(180deg);
  transition: 0.2s;
}

/*MEDIA QUERY*/

@media (min-width: 568px) {
  main {
    max-width: 1400px;
  }
  .nav-mobile {
    display: none; /*visibility: hidden didn't work here?*/
  }

  .header-desktop,
  .nav-desktop {
    display: block;
  }

  .nav-desktop {
    background-image: url(images/bg-pattern-intro-desktop.svg);
    background-repeat: no-repeat;
    background-size: size;
    background-color: var(--clr-very-light-red-CTA-hover-background);
    background-size: 240%;
    background-position: 27% 51%;
    border-radius: 0 0 0 80px;
  }
  .nav-desktop .logo-line {
    display: flex;
    align-items: center;
    gap: 3rem;
  }
  .nav-desktop a,
  .desktop-dropdown {
    color: var(--clr-white-text);
  }
  .desktop-dropdown {
    position: relative;
  }
  .nav-toprow {
    display: flex;
    justify-content: space-between;
    padding: 2rem 8rem;
  }
  .desktop-main-menu-links {
    display: flex;
  }
  .desktop-main-menu-links img {
    margin-left: 0.5rem;
  }
  .desktop-main-menu-links a,
  .desktop-dropdown {
    margin-right: 1.5rem;
  }

  .nav-desktop .menu-btns {
    display: flex;
    flex-direction: row;
    margin: 0;
    gap: 1.5rem;
    justify-content: flex-end;
  }
  .nav-desktop .menu-btns .transparent-btn {
    color: var(--clr-white-text);
  }
  .nav-desktop .menu-btns .dark-btn {
    color: var(--clr-light-red-CTA-text);
    background-color: var(--clr-white-text);
    padding-inline: 1.5rem;
  }
  .desktop-sub-menu-links {
    background-color: var(--clr-white-text);
    display: flex;
    flex-direction: column;
    padding: 1rem 0 1rem 1rem;
    gap: 0.5rem;
    position: absolute;
    border-radius: 5px;
    visibility: hidden;
  }

  .desktop-sub-menu-links-1 {
    top: 2rem;
    left: -2rem;
  }
  .desktop-sub-menu-links-2 {
    top: 2rem;
    left: 0rem;
  }
  .desktop-sub-menu-links-3 {
    top: 2rem;
    left: 0rem;
  }
  .show {
    visibility: visible;
  }
  .desktop-sub-menu-links a {
    color: var(--clr-very-dark-blue-headings);
    cursor: pointer;
  }
  .desktop-sub-menu-links a:hover {
    font-weight: var(--fw-700);
  }
  .desktop-dropdown-title:hover {
    font-weight: var(--fw-700);
    cursor: pointer;
    text-decoration: underline;
  }
  .hero-desktop {
    visibility: visible;
    margin-block: 3rem 5rem;
    padding: 0;
    text-align: center;
    color: var(--clr-white-text);
  }
  .hero-desktop h1 {
    font-size: 3.8rem;
  }
  .hero-desktop p {
    font-size: 1.4rem;
  }
  .hero-desktop .hero-btns {
    margin-top: 2rem;
    padding-bottom: 8rem;
  }
  /*SECTIONS*/
  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.1rem;
  }
  .section-1 {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
  }
  .section-1 h2 {
    position: absolute;
    top: 0;
    left: 36%;
  }
  .section-1-mobile-img {
    display: none;
  }
  .section-1-desktop-img {
    background-image: url(images/illustration-editor-desktop.svg);
    background-repeat: no-repeat;
    background-position: 0% 0%;
    flex-basis: 55%;
  }

  .section-1-content {
    flex-basis: 45%;
    text-align: left;
    margin: 15rem 4rem 15rem 8rem;
  }
  .section-1-content p,
  .section-3-content p {
    margin-bottom: 4rem;
    font-size: 1.1rem;
  }

  .section-2-mobile {
    display: none;
  }
  .section-2-desktop {
    display: block;
    background-color: var(--clr-very-dark-grayish-blue-body-copy);
    border-radius: 0 80px 0 80px;
    background-image: url(images/bg-pattern-circles.svg);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: -51% 83%;
    padding-block: 4.7rem;
    position: relative;
  }

  .section-2-desktop img {
    position: absolute;
    top: -70px;
    left: 100px;
  }
  .section-2-desktop-content {
    margin: 0 5.2rem 0 43rem;
    color: var(--clr-white-text);
    text-align: left;
  }
  .section-2-desktop-content h2 {
    font-size: 2.6rem;
    color: var(--clr-white-text);
    text-align: left;
    margin-block: 2rem;
  }
  .section-2-desktop-content p {
    font-size: 1.1rem;
  }
  .section-3 {
    display: flex;
    margin-block: 8rem;
  }
  .section-3-mobile-img {
    display: none;
  }
  .section-3-desktop-img {
    background-image: url(images/illustration-laptop-desktop.svg);
    background-repeat: no-repeat;
    background-position: 86% 0%;
    background-size: 150%;
    height: 800px;
    width: 1000px;
    flex-basis: 50%;
  }

  .section-3-content {
    text-align: left;
    flex-basis: 50%;
    padding-top: 10rem;
  }

  .footer {
    display: flex;
    justify-content: space-evenly;
    text-align: left;
  }
  .footer-logo {
    width: 70px;
    height: 30px;
    margin-top: 2.6rem;
  }
  .nav-desktop .menu-btns .dark-btn:hover {
    background-color: var(--clr-very-light-red-CTA-hover-background);
    color: var(--clr-white-text);
  }
}

/*
https://www.youtube.com/watch?v=Zj3r0pe5Cw0&t=24s

31:00 for the background image and color for the nav-mobile

He puts a divin the html for the image and uses css for the background linear
color as a background-image - because we can't have 2 background images!!
then he positions the image as absolute with nav-mobile as relative


42:00*/
